<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fairlight.submission_5.themoviedb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.fairlight.submission_5.themoviedb.provider.MovieProvider.READ_MOVIE_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.fairlight.submission_5.themoviedb.provider.MovieProvider.WRITE_MOVIE_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.fairlight.submission_5.themoviedb.provider.TvShowProvider.READ_TV_SHOW_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.fairlight.submission_5.themoviedb.provider.TvShowProvider.WRITE_TV_SHOW_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.released_today.TodayMovieActivity"></activity>

        <provider
            android:name=".provider.MovieProvider"
            android:authorities="com.fairlight.submission_5.themoviedb.provider.MovieProvider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.fairlight.submission_5.themoviedb.provider.MovieProvider.READ_MOVIE_DATABASE"
            android:writePermission="com.fairlight.submission_5.themoviedb.provider.MovieProvider.WRITE_MOVIE_DATABASE" />
        <provider
            android:name=".provider.TvShowProvider"
            android:authorities="com.fairlight.submission_5.themoviedb.provider.TvShowProvider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.fairlight.submission_5.themoviedb.provider.TvShowProvider.READ_TV_SHOW_DATABASE"
            android:writePermission="com.fairlight.submission_5.themoviedb.provider.TvShowProvider.WRITE_TV_SHOW_DATABASE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.detaileditem.CatalogueDetailActivity" />

        <receiver
            android:name=".receiver.DailyReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.ReleaseTodayReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".widget.FavoriteMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_widget_info" />
        </receiver>

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>